
@{
    ViewBag.Title = "City";
}

<div>
    <h3>Show Categories</h3>
    <ul>
        <li><a href="/s/SC">Housing</a></li>
        <li><a href="/s/SC">For Sale</a></li>
        <li><a href="/s/SC">Services</a></li>
    </ul>
</div>


