
@{
    ViewBag.Title = "City";
}

<div class="container">

    <h4>For Sale</h4>
    <ul>
        @foreach (var cat in ViewBag.Sale)
        {
            <li><a href="/c/@ViewBag.City/@cat.Sub">@cat.Sub</a></li>
        }
    </ul>
    <h4>Housing</h4>
    <ul>
        @foreach (var cat in ViewBag.Housing)
        {
            <li><a href="/c/{City}/@cat.Sub">@cat.Sub</a></li>
        }
    </ul>

    <h4>Services</h4>
    <ul>
        @foreach (var cat in ViewBag.Services)
        {
            <li><a href="/c/{City}/@cat.Sub">@cat.Sub</a></li>
        }
    </ul>
</div>
