@{
    ViewBag.Title = "Home Page";
}
<h2>All available Cities</h2>
<div class="container">
    <ul>
        @foreach (var city in @ViewBag.Cities)
        {
            <li><a href="/c/@city.CityName">@city.CityName</a></li>
        }
    </ul>
</div>