@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <section>
        <h3>States</h3>
        <ul>
            <li><a href="/s/SC">SC</a></li>
            <li><a href="/s/TX">TX</a></li>
            <li><a href="/s/IN">IN</a></li>
        </ul>
    </section>

</div>