
@{
    ViewBag.Title = "UserPage";
}

<div class="container">
    <h4>Current city: @ViewBag.MyCity</h4> 
    <h6>@Html.ActionLink("Change", "ChangeCity", "Home")</h6>

    <h2>-----------------------------------------------------</h2>

    <h4>My Postings</h4>
    <ul>
        @foreach (var post in ViewBag.MyPosts)
        {
            <li>@post.Title</li>
        }
    </ul>
</div>

