
@{
    ViewBag.Title = "UserPage";
}

<div class="container">
    <h4>Current city: @ViewBag.MyCity</h4> 
    <h6>@Html.ActionLink("Change", "ChangeCity", "Home")</h6>

    <h1>-----------------------------------------------------</h1>

    <h4>Show Posts</h4>
    <ul>
        List my posts
    </ul>
</div>

