
@{
    ViewBag.Title = "UserPage";
}

<div class="container">
    <h3>Current city: @ViewBag.MyCity</h3> 
    <h6>@Html.ActionLink("Change", "ChangeCity", "Home")</h6>

    <h3>My Postings</h3>
    <ul>
        @foreach (var post in ViewBag.MyPosts)
        {
            <li><a href="/Post/Details/@post.Id">@post.Title</a></li>
        }
    </ul>
</div>

