
@{
    ViewBag.Title = "ViewPosts";
}
<div class="container">
    <h5>@ViewBag.Route</h5>
    <ul>
        @foreach (var post in ViewBag.Posts)
        {
            <li class="list-group-item"><h3><a href="/Listing/@post.Id">@post.Title</a></h3> <h5>Price: $@post.Price</h5>  <h5>Posted: @post.Posted</h5></li>
        }
    </ul>
</div>
